<a href="https://colab.research.google.com/github/Hirali04/Antariksh_lect/blob/main/Lect1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Datatypes:
#Integer, float, boolean, strings, lists, set, tuple, dictionaries

#Operations
5+9, 5-9, 5*9, 5/9, 5%9, 5**9, 5//9

#Precedence:
#PEMDAS

(14, -4, 45, 0.5555555555555556, 5, 1953125, 0)

In [ ]:
a=3+7j
print(type(a))
print(a.real)
print(type(a.real))
print(a.imag)
print(type(a.imag))
print(abs(a))
#a.real=int(a.real) ---> got an error, solved.
y=a.real
y=int(y)
print(y)

<class 'complex'>
3.0
<class 'float'>
7.0
<class 'float'>
7.615773105863909
3

In [ ]:
# """/''' for multiline strings
s='Hello'
f=56.8902j
#we cannot concatenate string and integer/complex directly, so we typecast the integer/complex into string
print(s,str(f))
print('float value is {}'.format(f))
print(f'string value is {f}')
s1='  abc pqr xyz lmn hij  '
print(s1.title()) #Changing first alphabet of the words to uppercase
print(len(s1)) #calculates the length of string
print(s1.strip()) #removes whitespace from beginning or end
print(s1.replace('lmn', 'rst'))

Hello 56.8902j
float value is 56.8902j
string value is 56.8902j
  Abc Pqr Xyz Lmn Hij
23
abc pqr xyz lmn hij
  abc pqr xyz rst hij

In [ ]:
l=s1.split() #splits the string into different list items
print(l)
l1=[x for x in l if 'a' in x]
l1

['abc', 'pqr', 'xyz', 'lmn', 'hij']

['abc']

In [ ]:
li=[1,2,2,"apple",35.78,"kiwi"] #list can contain duplicates and different datatypes
print(li[1:4:2]) #start:stop:step (stop index is not included)
print(li[-5:-2]) #slicing using negative index
li.append(5)
li.remove(1)
li.insert(1,"orange") #inserting an element at a specific index
li.pop(3) #to remove an element using index
li[2:5]=7,"mango","banana" #changing elements at specific indices
li

[2, 'apple']
[2, 2, 'apple']

[2, 'orange', 7, 'mango', 'banana', 5]

In [ ]:
li2= [4,7,6,8,3]
li.extend(li2) #append elements from one list to another
li.append(li2)
li2.sort() #sorting elements in ascending order or alphabetically
li2.reverse() #to sort list in descending order
li2

[8, 7, 6, 4, 3]

In [ ]:
ls=["abc", "Xyz", "pqr", "LMN"]
ls.sort(key=str.lower) #since sort() is case sensitive, it sorts capital letters before lower-case
ls

['abc', 'LMN', 'pqr', 'Xyz']

In [ ]:
ls2=[[1,2,3],[4,5,6],[7,8,9]] #2-D matrix
ls2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
tup=("cherry",1,3,5) #immutable
tup

('cherry', 1, 3, 5)

In [ ]:
dict={'color':{"primary":["red","yellow","blue"],"secondary":["orange","green","violet"]},1:"abc",2.0:"pqr"}
dict

{'color': {'primary': ['red', 'yellow', 'blue'],
  'secondary': ['orange', 'green', 'violet']},
 1: 'abc',
 2.0: 'pqr'}

In [ ]:
print(dict.keys())
print(dict.values())

dict_keys(['color', 1, 2.0])
dict_values([{'primary': ['red', 'yellow', 'blue'], 'secondary': ['orange', 'green', 'violet']}, 'abc', 'pqr'])

In [ ]:
dict['color']['secondary'][1]
#we first enter the dict using the key 'color'; then we enter another dict using the key 'secondary'; then we enter the list using index '1'

'green'

In [ ]:
d={}
d["blue"]='cyan'
d['green']='aqua'
d['grey']='cement'
d

{'blue': 'cyan', 'green': 'aqua', 'grey': 'cement'}

In [ ]:
for k,v in d.items(): #if we use a single variable it prints only the keys
    print(k)
    print(v)

blue
cyan
green
aqua
grey
cement

In [ ]:
print(d.items())
type(d.items())

dict_items([('blue', 'cyan'), ('green', 'aqua'), ('grey', 'cement')])

dict_items

In [ ]:
dict[1]='xyz'
dict

{'color': {'primary': ['red', 'yellow', 'blue'],
  'secondary': ['orange', 'green', 'violet']},
 1: 'xyz',
 2.0: 'pqr'}

In [ ]:
dict[3]='lmn'
dict

{'color': {'primary': ['red', 'yellow', 'blue'],
  'secondary': ['orange', 'green', 'violet']},
 1: 'xyz',
 2.0: 'pqr',
 3: 'lmn'}

In [ ]:
d.update(dict) #adding one dict to another
d

{'blue': 'cyan',
 'green': 'aqua',
 'grey': 'cement',
 'color': {'primary': ['red', 'yellow', 'blue'],
  'secondary': ['orange', 'green', 'violet']},
 1: 'xyz',
 2.0: 'pqr',
 3: 'lmn'}

In [ ]:
s={1,2,3,4,5} #set
s1={1,2,3,3,4} #duplicates are not allowed
s1

{1, 2, 3, 4}

In [ ]:
s1.add(6)
s1

{1, 2, 3, 4, 6}

In [ ]:
s1.remove(2)
s1

{1, 3, 4, 6}

In [ ]:
z=s.intersection(s1)
z

{1, 3, 4}

In [ ]:
s.update(s1)
s

In [8]:
#logic for leap year: 1.multipe of 400 2.multiple of 4 and not 100
year=2000
if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print(year, 'is a leap year')
    else:
      print(year, ' is not a leap year')
  else:
    print(year, 'is a leap year')
else:
  print(year, 'is not a leap year')

  #checks if the yar is divisible by 4, if yes then it checks if the year is divisible by 100, if yes then it checks if the year is divisible by 400 if yes then its a leap year.

2000 is a leap year

In [16]:
li = ['abc','pqr','xyz','lmn']
for x in li:
  if 'a' in x:
    print(x)

abc

In [19]:
a=10
b=20
c=90
#method 1
if(b>a and b>c):
  print("max is ", b)
elif(c>a):             #works same as else if
  print('max is ',c)
else:
  print('max is ',a)

#method 2
print(max(a,b,c))

max is  90
90

In [22]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [25]:
d={'apple','mango','cherry','banana'}
for x in d:
  if x=='mango':
    continue  #skips that iteration and goes to the next one
  else:
    print(x)

apple
cherry
banana

In [27]:
d={'apple','mango','cherry','banana'}
for x in d:
  if x=='mango':
    break  #comes out of the loop
  else:
    print(x)

apple

In [35]:
l=[1,2,3,4,5,6]
for x in range(len(l)):
  print(x, end=' ')
  print(l[x])
  #this is beacuse the range goes from 0 to 6; in which 6 is not included wheareas while printing l[x] it prints elemnts at index 0 to 5

0 1
1 2
2 3
3 4
4 5
5 6

In [38]:
for x in l:
  pass      #to have a for loop with no content

In [40]:
for x in d:
  for y in l:
    print(x,y)

apple 1
apple 2
apple 3
apple 4
apple 5
apple 6
mango 1
mango 2
mango 3
mango 4
mango 5
mango 6
cherry 1
cherry 2
cherry 3
cherry 4
cherry 5
cherry 6
banana 1
banana 2
banana 3
banana 4
banana 5
banana 6

In [45]:
for i in range(3,0,-1):  #start, stop, step
  for j in range(1,i+1):
    print(j,end=' ')
  print('\n')

1 2 3

1 2

1

In [48]:
def func(a,b):
 return a*b

x=func(5,10)
print(x)

50

In [50]:
def calc(a,b,o):
  if o=='+':
    return a+b
  elif o=='-':
    return a-b
  elif o=='*':
    return a*b
  elif o=='/':
    return a/b
x=calc(5,3,'-')
print(x)

2

In [54]:
def fun(a,b=10): #if the function is called without an argument, it uses the default value
  print(a)
  print(b)

fun(5)

5
10

In [57]:
def f(*args): #we use this when the number of arguments are unknown
  for x in args:
    print(x)

f(1,2,3,4)

1
2
3
4

In [61]:
def a(fname,lname): #we use this when the number of arguments are unknown
  print(fname,lname)
a(lname='benett',fname='sarah')

sarah benett

In [69]:
#method 1
def b(**kwargs): #we use this when the arguments of key:value pair is unknown
  print(kwargs)
b(y=2,z=3,x=1)

{'y': 2, 'z': 3, 'x': 1}

In [72]:
#method 2
def c(**kwargs):
  for key,value in kwargs.items():
    print('key:',key,'value:',value)

c(car='red',truck='black',bike='blue')

key: car value: red
key: truck value: black
key: bike value: blue

In [71]:
def rec(k):
  if(k>0):
    return k+rec(k-1)
  else:
    return 0

x=rec(6)
print(x)

21

In [75]:
x=lambda a: a+10 #lambda function is uesd to qrite a function in a single line. It can take n arguments but has only one expression.
print(x(5))

15

In [78]:
def mfn(n): #lambda can be used inside another function
  return lambda a:a*n

db=mfn(2)
tr=mfn(3)
print(db(11))
print(tr(11))

22
33

In [81]:
x=lambda n:'even' if n%2==0 else 'odd'
x(10)

'even'

In [83]:
a=10 #global variable
def b():
  c=5 #local variable - it's scope is only inside the function its defined in
  print(c)

b()
print(a)

5
10

In [91]:
x=10
def y():
  global x
  x+=5
  print(x)
y()
print(x)

15
15

In [94]:
def f(arg,*args):
  print(arg)
  for i in args:
    print(i)

f(1,2,3,4)

1
2
3
4

In [100]:
def fn(*args,**kwargs):
  for i in args:
    print(i)
  for x,y in kwargs.items():
    print(x,y)

fn('abc','xyz','lmn',a=1,b=2,c=3)

abc
xyz
lmn
a 1
b 2
c 3