<a href="https://colab.research.google.com/github/Hirali04/Antariksh_lect/blob/main/Lect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Datatypes:
#Integer, float, boolean, strings, lists, set, tuple, dictionaries

#Operations
5+9, 5-9, 5*9, 5/9, 5%9, 5**9, 5//9

#Precedence:
#PEMDAS

(14, -4, 45, 0.5555555555555556, 5, 1953125, 0)

In [ ]:
a=3+7j
print(type(a))
print(a.real)
print(type(a.real))
print(a.imag)
print(type(a.imag))
print(abs(a))
#a.real=int(a.real) ---> got an error, solved.
y=a.real
y=int(y)
print(y)

<class 'complex'>
3.0
<class 'float'>
7.0
<class 'float'>
7.615773105863909
3

In [ ]:
# """/''' for multiline strings
s='Hello'
f=56.8902j
#we cannot concatenate string and integer/complex directly, so we typecast the integer/complex into string
print(s,str(f))
print('float value is {}'.format(f))
print(f'string value is {f}')
s1='  abc pqr xyz lmn hij  '
print(s1.title()) #Changing first alphabet of the words to uppercase
print(len(s1)) #calculates the length of string
print(s1.strip()) #removes whitespace from beginning or end
print(s1.replace('lmn', 'rst'))

Hello 56.8902j
float value is 56.8902j
string value is 56.8902j
  Abc Pqr Xyz Lmn Hij
23
abc pqr xyz lmn hij
  abc pqr xyz rst hij

In [ ]:
l=s1.split() #splits the string into different list items
print(l)
l1=[x for x in l if 'a' in x]
l1

['abc', 'pqr', 'xyz', 'lmn', 'hij']

['abc']

In [ ]:
li=[1,2,2,"apple",35.78,"kiwi"] #list can contain duplicates and different datatypes
print(li[1:4:2]) #start:stop:step (stop index is not included)
print(li[-5:-2]) #slicing using negative index
li.append(5)
li.remove(1)
li.insert(1,"orange") #inserting an element at a specific index
li.pop(3) #to remove an element using index
li[2:5]=7,"mango","banana" #changing elements at specific indices
li

[2, 'apple']
[2, 2, 'apple']

[2, 'orange', 7, 'mango', 'banana', 5]

In [ ]:
li2= [4,7,6,8,3]
li.extend(li2) #append elements from one list to another
li.append(li2)
li2.sort() #sorting elements in ascending order or alphabetically
li2.reverse() #to sort list in descending order
li2

[8, 7, 6, 4, 3]

In [ ]:
ls=["abc", "Xyz", "pqr", "LMN"]
ls.sort(key=str.lower) #since sort() is case sensitive, it sorts capital letters before lower-case
ls

['abc', 'LMN', 'pqr', 'Xyz']

In [ ]:
ls2=[[1,2,3],[4,5,6],[7,8,9]] #2-D matrix
ls2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
tup=("cherry",1,3,5) #immutable
tup

('cherry', 1, 3, 5)

In [ ]:
dict={'color':{"primary":["red","yellow","blue"],"secondary":["orange","green","violet"]},1:"abc",2.0:"pqr"}
dict

{'color': {'primary': ['red', 'yellow', 'blue'],
  'secondary': ['orange', 'green', 'violet']},
 1: 'abc',
 2.0: 'pqr'}

In [ ]:
print(dict.keys())
print(dict.values())

dict_keys(['color', 1, 2.0])
dict_values([{'primary': ['red', 'yellow', 'blue'], 'secondary': ['orange', 'green', 'violet']}, 'abc', 'pqr'])

In [ ]:
dict['color']['secondary'][1]
#we first enter the dict using the key 'color'; then we enter another dict using the key 'secondary'; then we enter the list using index '1'

'green'

In [ ]:
d={}
d["blue"]='cyan'
d['green']='aqua'
d['grey']='cement'
d

{'blue': 'cyan', 'green': 'aqua', 'grey': 'cement'}

In [ ]:
for k,v in d.items(): #if we use a single variable it prints only the keys
    print(k)
    print(v)

blue
cyan
green
aqua
grey
cement

In [ ]:
print(d.items())
type(d.items())

dict_items([('blue', 'cyan'), ('green', 'aqua'), ('grey', 'cement')])

dict_items

In [ ]:
dict[1]='xyz'
dict

{'color': {'primary': ['red', 'yellow', 'blue'],
  'secondary': ['orange', 'green', 'violet']},
 1: 'xyz',
 2.0: 'pqr'}

In [ ]:
dict[3]='lmn'
dict

{'color': {'primary': ['red', 'yellow', 'blue'],
  'secondary': ['orange', 'green', 'violet']},
 1: 'xyz',
 2.0: 'pqr',
 3: 'lmn'}

In [ ]:
d.update(dict) #adding one dict to another
d

{'blue': 'cyan',
 'green': 'aqua',
 'grey': 'cement',
 'color': {'primary': ['red', 'yellow', 'blue'],
  'secondary': ['orange', 'green', 'violet']},
 1: 'xyz',
 2.0: 'pqr',
 3: 'lmn'}

In [ ]:
s={1,2,3,4,5} #set
s1={1,2,3,3,4} #duplicates are not allowed
s1

{1, 2, 3, 4}

In [ ]:
s1.add(6)
s1

{1, 2, 3, 4, 6}

In [ ]:
s1.remove(2)
s1

{1, 3, 4, 6}

In [ ]:
z=s.intersection(s1)
z

{1, 3, 4}

In [ ]:
s.update(s1)
s

In [ ]:
#logic for leap year: 1.multipe of 400 2.multiple of 4 and not 100
year=2000
if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print(year, 'is a leap year')
    else:
      print(year, ' is not a leap year')
  else:
    print(year, 'is a leap year')
else:
  print(year, 'is not a leap year')

  #checks if the yar is divisible by 4, if yes then it checks if the year is divisible by 100, if yes then it checks if the year is divisible by 400 if yes then its a leap year.

2000 is a leap year

In [ ]:
li = ['abc','pqr','xyz','lmn']
for x in li:
  if 'a' in x:
    print(x)

abc

In [ ]:
a=10
b=20
c=90
#method 1
if(b>a and b>c):
  print("max is ", b)
elif(c>a):             #works same as else if
  print('max is ',c)
else:
  print('max is ',a)

#method 2
print(max(a,b,c))

max is  90
90

In [ ]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
d={'apple','mango','cherry','banana'}
for x in d:
  if x=='mango':
    continue  #skips that iteration and goes to the next one
  else:
    print(x)

apple
cherry
banana

In [ ]:
d={'apple','mango','cherry','banana'}
for x in d:
  if x=='mango':
    break  #comes out of the loop
  else:
    print(x)

apple

In [ ]:
l=[1,2,3,4,5,6]
for x in range(len(l)):
  print(x, end=' ')
  print(l[x])
  #this is beacuse the range goes from 0 to 6; in which 6 is not included wheareas while printing l[x] it prints elemnts at index 0 to 5

0 1
1 2
2 3
3 4
4 5
5 6

In [ ]:
for x in l:
  pass      #to have a for loop with no content

In [ ]:
for x in d:
  for y in l:
    print(x,y)

apple 1
apple 2
apple 3
apple 4
apple 5
apple 6
mango 1
mango 2
mango 3
mango 4
mango 5
mango 6
cherry 1
cherry 2
cherry 3
cherry 4
cherry 5
cherry 6
banana 1
banana 2
banana 3
banana 4
banana 5
banana 6

In [ ]:
for i in range(3,0,-1):  #start, stop, step
  for j in range(1,i+1):
    print(j,end=' ')
  print('\n')

1 2 3

1 2

1

In [ ]:
def func(a,b):
 return a*b

x=func(5,10)
print(x)

50

In [ ]:
def calc(a,b,o):
  if o=='+':
    return a+b
  elif o=='-':
    return a-b
  elif o=='*':
    return a*b
  elif o=='/':
    return a/b
x=calc(5,3,'-')
print(x)

2

In [ ]:
def fun(a,b=10): #if the function is called without an argument, it uses the default value
  print(a)
  print(b)

fun(5)

5
10

In [ ]:
def f(*args): #we use this when the number of arguments are unknown
  for x in args:
    print(x)

f(1,2,3,4)

1
2
3
4

In [ ]:
def a(fname,lname): #we use this when the number of arguments are unknown
  print(fname,lname)
a(lname='benett',fname='sarah')

sarah benett

In [ ]:
#method 1
def b(**kwargs): #we use this when the arguments of key:value pair is unknown
  print(kwargs)
b(y=2,z=3,x=1)

{'y': 2, 'z': 3, 'x': 1}

In [ ]:
#method 2
def c(**kwargs):
  for key,value in kwargs.items():
    print('key:',key,'value:',value)

c(car='red',truck='black',bike='blue')

key: car value: red
key: truck value: black
key: bike value: blue

In [ ]:
def rec(k):
  if(k>0):
    return k+rec(k-1)
  else:
    return 0

x=rec(6)
print(x)

21

In [ ]:
x=lambda a: a+10 #lambda function is uesd to qrite a function in a single line. It can take n arguments but has only one expression.
print(x(5))

15

In [ ]:
def mfn(n): #lambda can be used inside another function
  return lambda a:a*n

db=mfn(2)
tr=mfn(3)
print(db(11))
print(tr(11))

22
33

In [ ]:
x=lambda n:'even' if n%2==0 else 'odd'
x(10)

'even'

In [ ]:
a=10 #global variable
def b():
  c=5 #local variable - it's scope is only inside the function its defined in
  print(c)

b()
print(a)

5
10

In [ ]:
x=10
def y():
  global x
  x+=5
  print(x)
y()
print(x)

15
15

In [ ]:
def f(arg,*args):
  print(arg)
  for i in args:
    print(i)

f(1,2,3,4)

1
2
3
4

In [1]:
def fn(*args,**kwargs):
  for i in args:
    print(i)
  for x,y in kwargs.items():
    print(x,y)

fn('abc','xyz','lmn',a=1,b=2,c=3)

abc
xyz
lmn
a 1
b 2
c 3

In [10]:
class Person:
  def __init__(self,name,age):  #kind of like a constructor. You always need to write self when you define a function inside a constructor.
    self.name = name
    self.age = age

p1=Person('Dan',25) #p1 is the object of class person

print(p1.name)
print(p1.age)
print(p1) #prints memory address of the object

Dan
25
<__main__.Person object at 0x7a929734b6a0>

In [14]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def __str__(self) : #returns a readable string form of an object for the user
    return f'{self.name} {self.age}'

p1=Person('Dan',25)

print(p1) #prints string representation of the object

Dan 25

In [17]:
class Person:
  def __init__(self,name,age):  #self is very similar to this keyword
    self.name = name
    self.age = age

  def __repr__(self) : #returns a readable string form of an object for the mchine
    return f'{self.name} {self.age}'

p1=Person('Dan',25)

print(p1)

Dan 25

In [28]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def fun(self):
    print('hello',self.name)

p1=Person('Dan',25)
print(p1.age)
p1.fun()
p1.age = 30 #modifying object properties
print(p1.age)

25
hello Dan
30

In [29]:
p2 = Person ('John',35)
p1.fun()
p2.fun()

del p1
#p1.fun() we get an error since we have deleted the object p1
p2.fun()

hello Dan
hello John
hello John

In [30]:
class abc:
  pass #class definition with no content

In [34]:
#inheritance: inhertig the methods and attributes from a parent class
class Person:                  #single inheritance
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def fun(self):
    print('hello',self.name)

class Child(Person):
  pass

p2=Child('Child',20)
p2.fun()

hello Child

In [37]:
class Person:                  #single inheritance
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def fun(self):
    print('hello',self.name)

class Child(Person):    #method overriding
  def __init__(self,college,fruit):
    self.college = college
    self.fruit = fruit

p2=Child('DJ','apple')
print(p2.college,p2.fruit)

DJ apple

In [44]:
class Person:                  #single inheritance
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def fun(self):
    print('hello',self.name)

class Child(Person):
  def __init__(self,college,fruit,name,age):
    super().__init__(name,age)    #used to access the properties and methods of parent class
    self.college = college
    self.fruit = fruit

p2=Child('DJ','apple','abc',18)
print(p2.college,p2.fruit,p2.name,p2.age)

DJ apple abc 18

In [46]:
class Child(Person):
  def __init__(self,college,fruit):
    self.college = college
    self.fruit = fruit
    self.color = 'black'   #adding properties

c = Child('abc','cherry')
print(c.color)

black

In [52]:
class Parent():   #multilevel inheritance
  def fn(self):
    print('welcome')

class Child1(Parent):
  def funct(self):
    print('to')

class Child2(Child1):
  def f(self):
    print('google colab')

a=Child2()
x=a.fn()
y=a.funct()
z=a.f()
print(x,y,z)

welcome
to
google colab
None None None

In [55]:
class Child3(Parent,Person):  #multiple inheritance
  def myFn(self):
    print('pqr')

m=Child3('Sarah',50)
m.myFn()  #method in child3 class
m.fun()   #method in parent class 'Parent'
m.fn()    #method in parent class 'Person'

pqr
hello Sarah
welcome

In [57]:
class Sub1(Parent): #Hierarchial Inheritance
  def func1(self):
    li=[1,2,3,4,5]
    print(li)

class Sub2(Parent):
  def func2(self):
    li=['a','b','c','x','y','z']
    print(li)

a=Sub1()
a.func1()
b=Sub2()
b.func2()

#hybrid inheritance is a combination of two or more types of inheritance

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'x', 'y', 'z']

In [110]:
class Dog:   #polymorphsim - static: method overloading
  def sound(self):
    print('bark')

class Cat:
  def sound(self):
    print('meow')

d=Dog()
d.sound()
c=Cat()
c.sound()

bark
meow

In [62]:
import datetime

x=datetime.datetime.now()
print(x)

2023-08-14 03:43:15.867522

In [66]:
import datetime

x=datetime.datetime(2023,6,14)
print(x,x.strftime('%A'))   #strftime: specifies the format of the returned string...e.g. %A is for weekday

2023-06-14 00:00:00 Wednesday

In [68]:
colors = ['red','green','blue']

try:      #checks for the execption
  print(colors[3])
except IndexError as e: #handles the exception
  print(e)

list index out of range

In [81]:
def div(a,b):
  try:
    a/b
  except TypeError as e:
    print('enter numeric values')
  except ZeroDivisionError as e:
    print('b cannot be zero')
  else:                #executed when there is no exception
    print(a/b)
  finally:             #always executed whether the exception occured or not
    print('continue')


div(10,5)

2.0
continue

In [78]:
div(10,0)

b cannot be zero
continue

In [77]:
div('a',4)

enter numeric values
continue

In [104]:
class FahrenheitError(Exception):  #user-defined exception

  def __init__(self,f):
    self.f=f

  def __str__(self):
    return f"{self.f} is not in the valid range (32,212)"

try:
  temp=50
  if temp<32 and temp>212:
    raise FahrenheitError(temp)
  else:
    print('okay')
except FahrenheitError as e:
  print(e)

okay

In [105]:
try:
  t=500
  if t<32 and t>212:
    raise FahrenheitError(t)
  else:
    print('okay')
except FahrenheitError as e:
  print(e)

okay

In [109]:
import time
import math

def calc_time(fun):
  def inner(*args,**kwargs): #since we don't know the input type and number of parameters entered by the user
    begin=time.time()
    fun(*args,**kwargs)
    end=time.time()
    print('time:',end-begin)

  return inner

@calc_time   #decorator:helps in adding new functionality without modifying the source code. can be called from a different file altogether, so helps in organizing.
def fact(num):
  time.sleep(2)
  print(math.factorial(num))

fact(5)

120
time: 2.004070281982422

In [115]:
#access specifiers: private, protected, public
class Base:
  def f1(self):
    self.a=2
    print(self.a)

  def __display(self): #private; as declared with '__'
    print(self.a)

b=Base()
b.f1()
#b.__display() we get this error since '__display is a private property and cannot be accessed outside the class'

2

In [118]:
class Base:
  def f1(self):
    self.__a=2
    print(self.__a) #private variable

  def display(self):
    print(self.__a)

z=Base()
z.f1()
z.display() #works, since the private variable is accessed within the class

2
2

In [125]:
class Base1:
  def fn1(self,name):
    self._name=name  #protected variable

class Child4(Base1):
  def fn1(self,name):
    super().fn1(name)

  def disp(self):
    print(self._name)  #works, since protected variable can be accessed by the derived class

q=Child4()
q.fn1('john')
q.disp()

#difference between protected and private: protected attributes and variables can be accessed by derived classses whereas private cannot.

john

In [132]:
s1='hello'
s2=' world'
s=s1+s2
s

'hello world'

In [134]:
s1=s1 * 3
s1

'hellohellohellohellohellohellohellohellohello'

In [136]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l=l1+l2
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [138]:
l1.append(l2)
l1

[1, 2, 3, 4, [5, 6, 7, 8], [5, 6, 7, 8]]

In [140]:
t1=('a','b','c','d') #tuples
t2 = (1,2,3)
t=t1+t2
t

('a', 'b', 'c', 'd', 1, 2, 3)

In [142]:
i=input("enter a number")
type(i)

enter a number3

str

In [144]:
i=int(input("enter a number"))
type(i)

enter a number5

int

In [147]:
z=bin(14)  #gives the binary value
z

'0b1110'